@model StreetLegal.ViewModels.RaceViewModels.RaceWinVM

@{
    ViewData["Title"] = "LevelUp";
}

<div class="text-center">
    <h1>Congratulations! You've leveled up!</h1>
    <h2>You are now level: @Model.Level</h2>
    <hr />
    <h1>Congratulations! You've won!</h1>
    <h2>You've earned @Model.ExperienceEarned experience points</h2>
    <h2>You've added @Model.MoneyEarned to your account</h2>


    <a class="btn btn-primary" asp-action="Start">Race Again</a>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Home</a>
</div>