@model StreetLegal.ViewModels.HomeViewModels.HomeIndexVM

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated && Model.Driver == null)
{
    <div class="text-center">
        <h1>Welcome to Street Legal</h1>
        <p>As a new driver you need a car. Whould you like to get a car now ?</p>
        <a asp-action="Assign" class="btn btn-primary">Give me a car!</a>
    </div>
}
else
{
    <h2>Your Level is - @Model.Driver.Level</h2>
    <h2>Your Experience is - @Model.Driver.Experience</h2>
    <h2>You have @Model.Driver.Money$ available</h2>
    <h2>Your garage has @Model.Driver.Garage.Count cars in it</h2>

    <a class="btn btn-primary" asp-action="Start" asp-controller="Race">Race</a>
    <a class="btn btn-warning" asp-action="Start" asp-controller="Race">Upgrade Car</a>
}

