@{
    ViewData["Title"] = "You Lost";
}

<div class="text-center">
    <h1>You Lost!</h1>
    <h2>Even the best racers make mistakes.</h2>
    <h2>Keep improving yourself. Maybe it's time to upgrade your car?</h2>

    <a class="btn btn-primary" asp-action="Start">Race Again</a>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Home</a>
</div>