
@{
    ViewData["Title"] = "Start";
}

    <div class="text-center">
        <h1>We found you new rival!</h1>
        <h2>Are you ready to prove yourself on the streets?</h2>

        <a class="btn btn-primary" asp-action="Finish">Race</a>
        <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Take Me Back</a>
    </div>


