@model StreetLegal.ViewModels.AdminViewModels.CreateCarVM

@{
    ViewData["Title"] = "Create New Car";
}

<div class="text-center">
    <h2 class="display-4">Create New Car</h2>
    <div class="text-left">
        <div class="text-left">
            <form asp-action="Create" asp-controller="Admin"  enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Make" class="control-label">Make <span class="text-danger">*</span></label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label">Year of Production <span class="text-danger">*</span></label>
                    <input asp-for="Year" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label">Price <span class="text-danger">*</span></label>
                    <input asp-for="Value" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="EngineId">Engine<span class="text-danger">*</span></label>
                    <select asp-for="EngineId" asp-items="ViewBag.Engines" class="form-control">
                        <option selected>Choose...</option>
                    </select>
                    <span asp-validation-for="EngineId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TyresId">Engine<span class="text-danger">*</span></label>
                    <select asp-for="TyresId" asp-items="ViewBag.Tyres" class="form-control">
                        <option selected>Choose...</option>
                    </select>
                    <span asp-validation-for="TyresId" class="text-danger"></span>
                </div>
                <div class="form-group file-input">
                    <input asp-for="Image" type='file' name="Image">
                    <span class='button'>Choose</span>
                    <span class='label' data-js-label>No file selected</label>
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Create" class="btn btn-primary text-light float-left" />
                </div>
            </form>
            <label class="float-right mt-2">Fields marked with <span class="text-danger">*</span> are required!</label>
        </div>
    </div>
</div>

<script>
    $("#AddImageForm").submit(function (e) {
        ShowSpinner();
    });

    var inputs = document.querySelectorAll('.file-input')

    for (var i = 0, len = inputs.length; i < len; i++) {
        customInput(inputs[i])
    }

    function customInput(el) {
        const fileInput = el.querySelector('[type="file"]')
        const label = el.querySelector('[data-js-label]')

        fileInput.onchange =
            fileInput.onmouseout = function () {
                if (!fileInput.value) return

                var value = fileInput.value.replace(/^.*[\\\/]/, '')
                el.className += ' -chosen'
                label.innerText = value
            }
    }
</script>